<p align="justify"><span style="font-family: Lato, sans-serif;"><span style="font-size: medium;"><span lang="en-NG">Elicit Publishing is committed to maintaining ethical standards by preventing plagiarism. We require authors to submit original work and to properly credit prior research. The following forms of plagiarism are not acceptable:</span></span></span></p>
<ul>
<li>
<p align="justify"><span style="font-family: Lato, sans-serif;"><span style="font-size: medium;"><span lang="en-NG">Self-Plagiarism: Reusing significant portions of an author's previously published work without proper citation or acknowledgment.</span></span></span></p>
</li>
<li>
<p align="justify"><span style="font-family: Lato, sans-serif;"><span style="font-size: medium;"><span lang="en-NG">Verbatim Copying: Directly copying another person’s work or substantial portions of it without proper attribution.</span></span></span></p>
</li>
<li>
<p align="justify"><span style="font-family: Lato, sans-serif;"><span style="font-size: medium;"><span lang="en-NG">Paraphrasing Without Proper Attribution: Rewriting someone else’s ideas or sentences without giving proper credit.</span></span></span></p>
</li>
<li>
<p align="justify"><span style="font-family: Lato, sans-serif;"><span style="font-size: medium;"><span lang="en-NG">Reusing Unattributed Content: Using figures, tables, or text from previous works without appropriate citations or acknowledgment.</span></span></span></p>
</li>
</ul>
<p align="justify"><span style="font-family: Lato, sans-serif;"><span style="font-size: medium;"><span lang="en-NG">Plagiarism Evaluation for Elicit Journals</span></span></span></p>
<ul>
<li>
<p align="justify"><span style="font-family: Lato, sans-serif;"><span style="font-size: medium;"><span lang="en-NG">Plagiarism Threshold: Submissions found to contain excessive instances of plagiarism will be rejected outright.</span></span></span></p>
</li>
<li>
<p align="justify"><span style="font-family: Lato, sans-serif;"><span style="font-size: medium;"><span lang="en-NG">Use of Plagiarism Detection Software: All submitted manuscripts will be evaluated using plagiarism detection tools to ensure originality.</span></span></span></p>
</li>
<li>
<p align="justify"><span style="font-family: Lato, sans-serif;"><span style="font-size: medium;"><span lang="en-NG">Review Process: Manuscripts flagged for plagiarism during the initial review will be rejected. If plagiarism is discovered after publication, the Editor-in-Chief will conduct a thorough investigation and may involve a committee if needed.</span></span></span></p>
</li>
<li>
<p align="justify"><span style="font-family: Lato, sans-serif;"><span style="font-size: medium;"><span lang="en-NG">Institutional Notification: If significant plagiarism is found, we will notify the author’s academic institution or funding agency.</span></span></span></p>
</li>
<li>
<p align="justify"><span style="font-family: Lato, sans-serif;"><span style="font-size: medium;"><span lang="en-NG">Post-Publication Actions: If plagiarism is detected after a manuscript has been published, Elicit Publishing will issue a statement correcting the record, detailing the instances of plagiarism, and linking to the original work.</span></span></span></p>
</li>
</ul>
<p align="justify"><span style="font-family: Lato, sans-serif;"><span style="font-size: medium;"><span lang="en-NG">Handling Allegations of Plagiarism</span></span></span></p>
<ul>
<li>
<p align="justify"><span style="font-family: Lato, sans-serif;"><span style="font-size: medium;"><span lang="en-NG">Investigation of Allegations: We take allegations of plagiarism seriously. If a third party raises an accusation, we will seek a response from the original author(s) before determining the appropriate course of action.</span></span></span></p>
</li>
<li>
<p align="justify"><span style="font-family: Lato, sans-serif;"><span style="font-size: medium;"><span lang="en-NG">Impartial Review: We remain neutral and adhere to the guidelines set by the Committee on Publication Ethics (COPE) when addressing allegations of plagiarism.</span></span></span></p>
</li>
<li>
<p align="justify"><span style="font-family: Lato, sans-serif;"><span style="font-size: medium;"><span lang="en-NG">Confidentiality and Integrity: We are not obligated to engage with third parties who submit anonymous or false claims or who behave inappropriately during the investigation process.</span></span></span></p>
</li>
</ul>
<p align="justify"><span style="font-family: Lato, sans-serif;"><span style="font-size: medium;"><span lang="en-NG">Elicit Publishing Limited is committed to supporting ethical research practices, promoting transparency, and ensuring that all authors uphold the highest standards of academic integrity.</span></span></span></p>